<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<div th:fragment="header">
    <header>
        <h1>Employee Management System</h1>
      <nav>
        <a th:href="@{/employeeForm}">Employees</a>
        <a th:href="@{/departmentForm}">Departments</a>
        <a th:href="@{/registerEmployee}">Register Employee</a>
      </nav>
    </header>
</div>

<div th:fragment="footer">
    <footer>
      <p>Geoffrey Trenholm - 991712128</p>
    </footer>
</div>
</body>
</html>